---
import GamepadAPI from '../components/GamepadAPI.svelte';		
import BaseLayout from '../layouts/BaseLayout.astro';		
---
<BaseLayout title="The Browser Gamepad API">
	<p>An app to explore the experimental browser <a href="https://w3c.github.io/gamepad/">Gamepad API</a>
	 and based on <a href="https://developer.mozilla.org/en-US/docs/Web/API/Gamepad_API/Using_the_Gamepad_API">code from Mozilla on MDN</a></p>

	<p>Connect a Gamepad and press a button or waggle a joystick to get started. See the browser console for add/remove events.</p>

	<GamepadAPI client:load />
</BaseLayout>
